.bg_img {
  background: url(./Images/Png/background.png);
  background-position-x: center;
  background-size: 100% 100%;
}
.mw-609 {
  max-width: 609px;
}
.py-85 {
  padding-top: 85.29px;
  padding-bottom: 80.2px;
}
