/*================================ benifit section===================================*/
.benifit_heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: var(--fs-3xl);
  line-height: 61px;
  text-align: center;
  color: var(--color-black);
}
.benifit_box p {
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-md);
  line-height: 174%;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 0;
  opacity: 0.7;
}
.benifit_box div {
  border-radius: 47% 53% 49% 51% / 59% 49% 51% 41%;
  background-color: #fbf3e5;
  animation: radish_animation 5s linear infinite;
  background-position: center;
}
@keyframes radish_animation {
  0% {
    border-radius: 50% 50% 59% 41% / 39% 60% 40% 61%;
  }
  25% {
    border-radius: 68% 32% 54% 46% / 58% 74% 26% 42%;
  }
  50% {
    border-radius: 68% 32% 70% 30% / 17% 80% 20% 83%;
  }
  75% {
    border-radius: 68% 32% 54% 46% / 58% 74% 26% 42%;
  }
  100% {
    border-radius: 50% 50% 59% 41% / 39% 60% 40% 61%;
  }
}
.pt-23 {
  padding-top: 23px;
}
.mw_317 {
  max-width: 317px;
}
.mw_272 {
  max-width: 272px;
}
.mw_288 {
  max-width: 288px;
}
.benifit_arrow {
  bottom: 1%;
  left: -4%;
}
/*====================================benifit section end========================================*/

/* whitepaper section  */
.whitepaper_bg {
  background-image: url(../src/Images/Png/whitepaper_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.mw_577 {
  max-width: 577px !important;
}
.pt_12 {
  padding-top: 12px;
}
.whitepaper_btn {
  background-color:var(--bg-white);
  padding: 13px 21px;
  border-radius: 40px;
  display: inline-block;
  border: 2px solid transparent;
  transition: all 300ms linear;
  animation: btnshado 4s ease-in-out infinite;
}
@keyframes btnshado {
  0% {
    box-shadow: 0px 0px 0px 0px white;
  }
  25% {
    box-shadow: 0px 0px 10px 5px white;
  }
  50% {
    box-shadow: 0px 0px 0px 0px white;
  }
  75% {
    box-shadow: 0px 0px 10px 5px white;
  }
}
.whitepaper_btn:hover {
  background-color: transparent;
  border: 2px solid white;
  transform: scale(1.05);
}
.whitepaper_btn span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: var(--fs-sm);
  line-height: 20px;
  text-align: center;
  background: linear-gradient(
    180deg,
    #ffba3b -9.01%,
    #ffa53b 43.37%,
    #ff983b 89.55%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: all 300ms linear;
}
.whitepaper_btn:hover span {
  background: var(--bg-white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.whitepaper_arrow {
  bottom: -1% !important;
  z-index: -1 !important;
  animation: rotate_arrow 4s linear infinite;
}
@keyframes rotate_arrow {
  0% {
    transform: translatey(0%) scale(1);
  }
  25% {
    transform: translatey(-10%) scale(1.1);
  }
  50% {
    transform: translatey(0%) scale(1);
  }
  75% {
    transform: translatey(-10%) scale(1.1);
  }
}
/*=========================================== whitepaper end ===============================*/

/*=========================================== roadmape section ============================== */
.roadmape_s h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: var(--fs-3xl);
  font-weight: 700;
  line-height: 61px;
  margin-bottom: 0;
  text-align: center;
}
.roadmape_s .main_para {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-md);
  color: var(--color-black);
  margin-bottom: 0;
  opacity: 0.7;
  max-width: 672px;
  text-align: center;
}
.pt_18 {
  padding-top: 18px;
}
.mw_592 {
  max-width: 592px;
}
.roadmape_box h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: var(--fs-xl);
  line-height: 34px;
  color: var(--color-white);
  margin-bottom: 0;
  opacity: 0.5;
}
.roadmape_box {
  padding-left: 12px;
  border-radius: 15px;
  transition: all 300ms ease;
}
.roadmape_box:hover {
  transform: scale(1.1);
}
.roadmape_box p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: var(--fs-lg);
  line-height: 24px;
  color: var(--color-white);
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 45px;
  border-radius: 15px;
}
.bg_yellow {
  background: linear-gradient(0deg, #efb93b, #efb93b), #d9d9d9;
  transition: all 300ms linear;
}
.bg_yellow:hover {
  box-shadow: 0 15px 30px rgb(232, 211, 76), 0 6px 10px rgba(237, 199, 72, 0.06);
}
.bg_orange {
  background: linear-gradient(0deg, #e0480a, #e0480a),
    linear-gradient(0deg, #efb93b 0.02%, #eba43b 53.72%, #e9973b 100.15%),
    #d9d9d9;
  transition: all 300ms linear;
}
.bg_orange:hover {
  box-shadow: 0 10px 30px rgba(222, 46, 46, 0.58),
    0 6px 10px rgba(238, 94, 32, 0.06);
}
.bg_lightblue {
  background: #4d86dc;
  transition: all 300ms linear;
}
.bg_lightblue:hover {
  box-shadow: 0 15px 30px rgba(51, 92, 240, 0.534),
    0 6px 10px rgba(63, 32, 238, 0.374);
}
.bg_darkblue {
  background: #364ec6;
  transition: all 300ms linear;
}
.bg_darkblue:hover {
  box-shadow: 0 15px 30px rgba(51, 92, 240, 0.585),
    0 6px 10px rgba(63, 32, 238, 0.87);
}
.bg_purple {
  background: linear-gradient(0deg, #6a3dad, #6a3dad),
    linear-gradient(90deg, #2d367d -0.02%, #384cb1 99.91%);
  transition: all 300ms linear;
}
.bg_purple:hover {
  box-shadow: 0 15px 30px rgba(88, 2, 103, 0.44),
    0 6px 10px rgba(106, 10, 109, 0.536);
}
.bg_pink {
  background: linear-gradient(0deg, #ed5c83, #ed5c83),
    linear-gradient(90deg, #2d367d -0.02%, #384cb1 99.91%);
  transition: all 300ms linear;
}
.bg_pink:hover {
  box-shadow: 0 15px 30px rgba(228, 70, 186, 0.468),
    0 6px 10px rgba(230, 56, 186, 0.432);
}
.roadmap_sideimg {
  position: absolute !important;
  left: 0;
  top: 0;
  z-index: -1;
}
.roadmap_arrowimg {
  position: absolute;
  top: 10%;
  right: 5%;
}
.mw_1440 {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.roadmape_img {
  animation: effect 8s linear infinite;
  transition: all 400ms linear;
}
@keyframes effect {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.roadmap_arrowimg {
  animation: roadmape_arrow 8s linear infinite;
}
@keyframes roadmape_arrow {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(20px, -30px);
  }
  50% {
    transform: translate(0);
  }
  75% {
    transform: translate(20px, -30px);
  }
}
/*============================================= media screen 576 ================================*/
@media (min-width: 576px) {
  .whitepaper_img2 {
    animation: translatey 3s linear infinite;
  }
  .whitepaper_img1 {
    animation: translatey 3s linear infinite;
  }

  @keyframes translatey {
    0% {
      transform: translatey(0);
    }
    25% {
      transform: translatey(-10px);
    }
    50% {
      transform: translatey(0px);
    }
    75% {
      transform: translatey(-10px);
    }
  }
  
  @keyframes translatey {
    0% {
      transform: translatey(0px);
    }
    25% {
      transform: translatey(-10px);
    }
    50% {
      transform: translatey(0px);
    }
    75% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }
}
/*========================================== media screen 576 end ==============================*/
