@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap%22");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap%22");

* {
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
}

/* font family  */
.ff_montserrat {
  font-family: "Montserrat";
}
.ff_inter {
  font-size: "inter";
}

:root {
  --fs-xsm: 14px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 20px;
  --fs-xl: 28px;
  --fs-2xl: 30px;
  --fs-3xl: 50px;
  --fs-4xl: 65px;
  --color-white: #ffffff;
  --bg-white: #ffffff;
  --color-darkblack: #32352c;
  --color-black: #000000;
}

/* font size  */
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}
.fs_4xl {
  font-size: var(--fs-4xl);
}

/* colors  */
.color_white {
  color: var(--color-white);
}
.bg_white {
  color: var(--bg-white);
}
.color_darkblack {
  color: var(--color-darkblack);
}
.color_black {
  color: var(--color-black);
}

